<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ConnectionDB" 
			 connectionString="Data Source=10.128.14.64\SQLEXPRESS;
			 Initial Catalog=user141;
			 User ID=user141;Password=wsruser141"
			 providerName="System.Data.sqlClient"/>
	</connectionStrings>
</configuration>